Django
django-cors-headers
django-decouple
djangorestframework
djangorestframework_simplejwt
drf-yasg
google-ai-generativelanguage
gunicorn
langchain
langchain-core
langchain-google-genai
pillow
pydantic
requests
whitenoise
